header nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

header nav a {
    background-color: #5a040a;
    color: #fff;
    font-size: 14px;
    padding: 10px 30px;
    border: 2px solid #ab0611;;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    align-items: center;
    cursor: pointer;
}

header nav a:hover, .checked {
    transition : 1000ms;
    padding: 10px 31px;
    transform : translateY(-0px);
    background-color: #ab0611;
    color: #fff;
    border: solid 2px #5a040a;
}

.error {
    padding-left: 20px;
}

.entries-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #242424;
    border-radius: 20px;
    row-gap: 20px;
    padding: 1%;
}

.entry-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    padding: 2%;
}

.entry-card:hover {
    background-color: #464646;
    border-radius: 20px;
}

.poster-wrapper {
    position: relative;
} 

.poster-wrapper .number-of-votes {
    display: flex;
    gap: 6%;
    position: absolute;
    align-items: center;
    top: 6%;
    left: 3%;
    text-transform: uppercase;
}

.poster-wrapper .overview {
    position: absolute;
    bottom: 6%;
    left: 3%;
}

.poster-wrapper .average-vote {
    display: flex;
    gap: 6%;
    position: absolute;
    align-items: center;
    top: 6%;
    right: 3%;
    font-size: 12px;
    text-transform: uppercase;
}

.poster-wrapper .average-vote-text {
    text-align: right;
}

.opacity{
    background: #000;
    opacity: 0.3;
  }

.entries-container .entry-name {
    margin-top: 3%;
}

.entry-poster {
    width: 100%;
    border-radius: 20px;
}

@media (max-width: 900px) {
    .entry-card {
        width: 100%;
    }
}