.error {
    padding-left: 20px;
}

.entries-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #242424;
    border-radius: 20px;
    row-gap: 20px;
    padding: 1%;
}